---
title: Penguins Blog
author: Charlie Moore
date: '2024-02-19'
image: "image.jpg"
description: "Palmer Penguins!"
format: html
---

First, we'll load the palmer penguins dataset:

In [8]:
import pandas as pd

url = "https://raw.githubusercontent.com/PhilChodrow/ml-notes/main/data/palmer-penguins/train.csv"
df = pd.read_csv(url)

We'll take a quick peek at how the data looks:

In [9]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0809,31,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N63A1,Yes,11/24/08,40.9,16.6,187.0,3200.0,FEMALE,9.08458,-24.54903,NaN
1,PAL0809,41,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N74A1,Yes,11/24/08,49.0,19.5,210.0,3950.0,MALE,9.53262,-24.66867,NaN
2,PAL0708,4,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N32A2,Yes,11/27/07,50.0,15.2,218.0,5700.0,MALE,8.25540,-25.40075,NaN
3,PAL0708,15,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A1,Yes,12/3/07,45.8,14.6,210.0,4200.0,FEMALE,7.79958,-25.62618,NaN
4,PAL0809,34,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N65A2,Yes,11/24/08,51.0,18.8,203.0,4100.0,MALE,9.23196,-24.17282,NaN

Since we'll have to make all categorical data numerical, let's see the data types of the variables:

In [10]:
df.dtypes

studyName               object
Sample Number            int64
Species                 object
Region                  object
Island                  object
Stage                   object
Individual ID           object
Clutch Completion       object
Date Egg                object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)    float64
Body Mass (g)          float64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Comments                object
dtype: object

## Data Preparation:

We'll make the categorical data into either "one-hot-encoded" binary data using 'pd.get_dummies', or whole number data using LabelEncoder.

In [15]:
pd.get_dummies(df) # one-hot encoding TODO

,Sample Number,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo),studyName_PAL0708,studyName_PAL0809,studyName_PAL0910,...,Sex_.,Sex_FEMALE,Sex_MALE,Comments_Adult not sampled.,Comments_Nest never observed with full clutch.,Comments_Nest never observed with full clutch. Not enough blood for isotopes.,Comments_No blood sample obtained for sexing.,Comments_No blood sample obtained.,Comments_Not enough blood for isotopes.,Comments_Sexing primers did not amplify. Not enough blood for isotopes.
0,31,40.9,16.6,187.0,3200.0,9.08458,-24.54903,False,True,False,...,False,True,False,False,False,False,False,False,False,False
1,41,49.0,19.5,210.0,3950.0,9.53262,-24.66867,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2,4,50.0,15.2,218.0,5700.0,8.25540,-25.40075,True,False,False,...,False,False,True,False,False,False,False,False,False,False
3,15,45.8,14.6,210.0,4200.0,7.79958,-25.62618,True,False,False,...,False,True,False,False,False,False,False,False,False,False
4,34,51.0,18.8,203.0,4100.0,9.23196,-24.17282,False,True,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,100,51.1,16.5,225.0,5250.0,8.20660,-26.36863,False,False,True,...,False,False,True,False,False,False,False,False,False,False
271,69,35.9,16.6,190.0,3050.0,8.47781,-26.07821,False,True,False,...,False,True,False,False,True,False,False,False,False,False
272,33,39.5,17.8,188.0,3300.0,9.66523,-25.06020,True,False,False,...,False,True,False,False,False,False,False,False,False,False
273,5,36.7,19.3,193.0,3450.0,8.76651,-25.32426,True,False,False,...,False,True,False,False,False,False,False,False,False,False
274,21,42.4,17.3,181.0,3600.0,9.35138,-24.68790,True,False,False,...,False,True,False,False,False,False,False,False,False,False